<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>967166296212-0j53690ei6ei0bnbmv9jf03a7p190in8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.967166296212-0j53690ei6ei0bnbmv9jf03a7p190in8</string>
	<key>API_KEY</key>
	<string>AIzaSyDmTqLbsqUR_9u0BLmL5HcpNQILG1hqZoc</string>
	<key>GCM_SENDER_ID</key>
	<string>967166296212</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ind.Azuma.QRCodeSample</string>
	<key>PROJECT_ID</key>
	<string>qrcodevote-8a98c</string>
	<key>STORAGE_BUCKET</key>
	<string>qrcodevote-8a98c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:967166296212:ios:339b6e59716ecd22</string>
	<key>DATABASE_URL</key>
	<string>https://qrcodevote-8a98c.firebaseio.com</string>
</dict>
</plist>